@model Dish

<div class='card m-2 p-1 text-center col-4'>
    <img src="~/Images/@Model.Image" alt='NoImage' class="card-img-top" style="height: 100%;" />
    <div class="card-body" style="text-align: start;">
        <h5 class="card-title">
            @Model.DishName
        </h5>
        <p class="card-text" style="margin-bottom: 0.5rem;">
            @Model.Description
        </p>
        <h3 style="margin-bottom: 0.8rem;">@Model.Calories калорий</h3>
        @{
            // Получение текущего адреса
            var request = ViewContext.HttpContext.Request;
            var returnUrl = request.Path +
            request.QueryString.ToUriComponent();
        }
        <!--Разметка кнопки добавления в корзину-->
        <p class="mt-2">
            <a asp-action="Add" asp-controller="Cart" asp-route-id="@Model.DishId" asp-route-returnUrl="@returnUrl"
                class="btn btn-primary">
                <i class="fa fa-shopping-cart"></i> В корзину
            </a>
        </p>
    </div>
</div>